<div class="container mt-5" >
    <table class="table table-hover text-center" #dataTable>
      <thead class="table-light">
        <tr class=" table-light">
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Opertaions</th>
        </tr>
      </thead>
      <tbody>
      
        <tr *ngFor="let region of regions">
          <th scope="row">{{ region.regionId }}</th>
          <td>{{ region.regionName }}</td>
          <td class="text-center">
            <button title="Edit" (click)="saveRegionId(region.regionId)" routerLink="/edit-region" class="btn btn-dark me-2" ><i class="bi bi-pencil-square"></i></button>
            <a (click)="RemoveRegion(region.regionId)" title="Delete" class="btn btn-danger me-2" ><i class="bi bi-trash3"></i></a>
          
        </td>
  
        </tr>
        <tr >
          <td colspan="9" class="text-center"> 
              <a class="btn btn-dark" routerLink="/create-region">
                  Add New Region
                  <i class="bi bi-plus-square"></i>
              </a>
          </td>
      </tr>
  
      </tbody>
    </table>
    
  </div>