
body{
    background-color: #f8f9fa;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.full-height {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
