<body>

  <div class="wrapper">
      
      <div class="container main">
          <div class="row">
              <div class="col-md-6 side-image" [ngStyle]="{'background-image': 'url(' + bankLogo + ')'}">
                  
                  <img src="images/white.png" alt="">
                  <!-- <div class="text">
                      <p>Join the community of developers <i>- ludiflex</i></p>
                    </div> -->
                    
                </div>
                
                <form [formGroup]="loginForm" class="col-md-6 right" (submit)="onSubmit($event)">
                    
                    <div class="input-box">
                        
                        <header style="font-size: 20px;">Login</header>

                        <div class="alert alert-dismissible alert-danger" *ngIf="invalidEmailAndPassword">
                            <button type="button" (click)="hideAlert()" class="btn-close"></button>
                            <strong><i class="fa-solid fa-circle-exclamation"></i>
                                <i class="fa fa-exclamation-circle me-1"></i> Invalid Name and password!</strong>
                        </div>

                   <div class="input-field mb-3">
                        <input type="text" class="input" id="userName" required="" autocomplete="off" formControlName="userName">
                        <label for="userName">User Name</label> 
                        <ng-container *ngIf="getUserName.touched">
                            <span class="text-danger" style="font-size: 13px;" *ngIf="getUserName.hasError('required')">User Name is required</span>
                                <!-- <span class="text-danger" style="font-size: 13px;" *ngIf="getEmail.hasError('email')">Invalid Email</span> -->
                        </ng-container>
                    </div> 
                    
                   <div class="input-field">
                        <input type="password" class="input" id="pass" required="" formControlName="password"> 
                        <label for="pass">Password</label>
                        <ng-container *ngIf="getPassword.touched">
                            <span class="text-danger" style="font-size: 13px;" *ngIf="getPassword.hasError('required')">Password is
                                required</span>
                        </ng-container>

                    </div> 
                   <div class="input-field mt-3">
                        <input type="submit" class="submit" value="Login" >
                   </div> 
                </div>  
            </form>
        </div>
    </div>
</div>
</body>
