

<mat-toolbar *ngIf="currentUser" class="fixed-tops" >
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="centered-items">
        <ng-container *ngFor="let item of baseNavItems" >
            <mat-toolbar>
                <button mat-button [matMenuTriggerFor]="(item.navLink.length > 0) ? menu : null"  [routerLink]="item.menuUrl">{{item.menuName}}</button>
            </mat-toolbar>
        
            <mat-menu #menu="matMenu">
                <button [matMenuTriggerFor]="(childItem.navLink.length > 0) ? menus : null" [routerLink]="childItem.menuUrl" mat-menu-item *ngFor="let childItem of item.navLink">{{childItem.menuName}}
                    <mat-menu #menus="matMenu">
                        <button [routerLink]="childItems.menuUrl" mat-menu-item *ngFor="let childItems of childItem.navLink">{{childItems.menuName}}</button>
                    </mat-menu>
                </button>
            </mat-menu>
        </ng-container>
    </div>
    
    


</mat-toolbar>

<mat-sidenav-container *ngIf="currentUser"  [style.--mat-sidenav-container-background-color]="getCustomBackgroundColor()" >
    <mat-sidenav  opened mode="side" [style.width]="sidenavWidth()" style="padding-top: 64px;"   class="fixed-sidebar" >
        <app-custom-sidenav [collapsed]="collapsed()" />
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="!currentUser"></router-outlet>
