
<section class="pt-4 mt-3">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold">SURVEILLANCE</h2>
                        <p class="mb-0">The use of video surveillance, especially new IP-based security cameras can help to ensure that ATM transactions are safe.</p>
                        <h4 class="mt-4 fw-bold">SEARCH</h4>
                        <h5>Purpose:</h5>
                        <p>You can get any video by (ATM ID, DATE, and CARD NUMBER) This is surveillance search page to get the video that you want you must write ATM ID, date from ,date to and card number then click search it will get you the video that you need.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
