<div class="content">
  <div class="container">
    <div class="row align-items-stretch justify-content-center no-gutters">
      <div class="col-md-7">
        <div class="form h-100 contact-wrap p-5">
          <h3 class="text-center">Edit Region</h3>
          <form class="mb-5" method="post" [formGroup]="EditRegionForm" (submit)="onSubmit($event)"
            id="EditRegionForm" name="EditRegionForm">

            <div class="alert alert-dismissible alert-danger" *ngIf="invalidData">
              <button type="button" (click)="hideAlert()" class="btn-close"></button>
              <strong><i class="fa-solid fa-circle-exclamation"></i>
                <i class="fa fa-exclamation-circle me-1"></i> {{errorMessage}} </strong>
            </div>
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label for="" class="col-form-label">Region ID</label>
                <input class="form-control"
                  formControlName="regionId" name="regionId" id="regionId" placeholder="Region ID">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label for="" class="col-form-label">Region Name</label>
                <input [ngClass]="{'is-invalid': hasAnyError(getRegionName)}" class="form-control"
                  formControlName="regionName" name="regionName" id="regionName" placeholder="Region Name">
                <ng-container *ngIf="getRegionName.touched">
                  <span class="text-danger" style="font-size: 13px" *ngIf="getRegionName.hasError('required')">Region
                    name required</span>
                </ng-container>
              </div>
            </div>




            <div class="row justify-content-center pt-3">
              <div class="col-md-5 form-group text-center">
                <button class="btn btn-primary">Edit Region</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>