<div id="tm-bg"  [ngStyle]="{'background-image': 'url(' + bankBackground + ')'}"></div>
<div id="tm-wrap">
    <div class="tm-main-content">
        <div class="container tm-site-header-container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                    <div class="tm-site-header">
                        <h1 class="mb-4 text-light">Agricultural Bank of Egypt</h1>
                        <img src="https://www.tooplate.com/templates/2097_pop/img/underline.png" class="img-fluid mb-4">
                        <p class="text-light">Delivering value to our clients, our community and our shareholders</p>        
                    </div>                        
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-4">
                    <div class="content">
                        <div class="grid">
                            <div class="grid__item" id="home-link">
                                <div class="product">
                                    <a class="tm-nav-link" routerLink="journal">
                                        <!-- <i class="fas fa-home tm-nav-icon"></i> -->
                                        <!-- <i class="bi bi-journal  fa-3x"></i>-->
                                        <i class="bi bi-house fa-3x"></i>
                         
                                        <span class="tm-nav-text">Journal</span>
                                        <div class="product__bg"></div>        
                                    </a>                                    

                                </div>
                            </div>

                            <div class="grid__item" id="team-link">
                                <div class="product">
                                    <a class="tm-nav-link" routerLink="surveillance">
                                        <i class="bi bi-journal  fa-3x"></i>     
                                        <span class="tm-nav-text">Surveillance</span>
                                        <div class="product__bg"></div>            
                                    </a>                                     
                                </div>
                            </div>

                        </div> 
                    </div>                       
                </div>
            </div>                
        </div>
        <footer>
            <p class="small tm-copyright-text text-light">Copyright &copy; <span class="tm-current-year">2024 </span>  
            <a rel="nofollow" routerLink="/" class="tm-text-highlight">RAYA</a></p>
        </footer>
    </div> 
</div>
